.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
  text-align: center;
}


.ctmTable{
	width:60%;
	float:left;
	margin-right:2%
}

.tradeDetail{
	width:35%;
	float:left
}